.navbar-store {
    padding-top: 15px;
    @include media-breakpoint-down(md) {
        background-color: #fff !important;
    }
    .nav-item {
        .nav-link {
            &:hover {
                color: #2E9100;
                font-weight: bold;
            }
            &.active {
                color: #2E9100;
                font-weight: bold;
                border-top: 5px solid #2E9100;
            }
            // color: #2E9100;
            @include media-breakpoint-up(lg) {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .button-inputer {
            display: none;
            @include media-breakpoint-up(lg) {
                display: block;
            }
        }
    }
    .search-form {
        width: 100%;
        border-radius: 10px;
        text-align: center;
        @include media-breakpoint-up(lg) {
            width: 50%;
            border-radius: 10px;
            text-align: center;
        }
    }
    .profile-picture {
        max-height: 45px;
    }
    .cart-badge {
        display: inline-block;
        min-width: 2em;
        /* em unit */
        padding: 0.3em;
        /* em unit */
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        background: #2E9100;
        color: #fefefe;
        margin-left: -10px;
    }
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}