.page-detail {
    h5 {
        font-weight: normal;
        font-size: 18px;
        color: #0c0d36;
    }
    .store-gallery {
        margin-top: 10px;
        // background: rgb(255, 0, 0);
        // style="object-fit: cover; object-position: center; width: 100%; height: 50vh; border-radius: 10px;"
        .frame-image {
            overflow: hidden;
            max-width: 100%;
            height: 30vh;
            border-radius: 10px;
            object-fit: fill;
            object-position: center;
            z-index: 1;
            // background-color: #2E9100;
            @include media-breakpoint-up(lg) {
                overflow: hidden;
                max-width: 100%;
                height: 60vh;
                border-radius: 10px;
                object-fit: cover;
                object-position: center;
                z-index: 1;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: all 0.3s ease;
            }
        }
        .frame-thumnail {
            overflow: auto;
            max-width: 100%;
            height: 30vh;
            border-radius: 10px;
            object-fit: cover;
            object-position: center;
            z-index: 1;
            // background: #000;
            @include media-breakpoint-up(lg) {
                overflow: auto;
                max-width: 100%;
                height: 60vh;
                border-radius: 10px;
                object-fit: cover;
                object-position: center;
                z-index: 1;
                scroll-behavior: smooth;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            .thumbnail-image {
                margin-bottom: 5px;
                border: 2px solid transparent;
                overflow: hidden;
                width: 100%;
                height: 30%;
                border-radius: 10px;
                object-fit: cover;
                object-position: center;
                z-index: 1;
                // background-color: #2E9100;
                @include media-breakpoint-down(lg) {
                    margin-bottom: 20px;
                    border: 2px solid transparent;
                    overflow: hidden;
                    max-width: 100%;
                    height: 25%;
                    border-radius: 10px;
                    object-fit: cover;
                    object-position: center;
                    z-index: 1;
                    // background-color: #2E9100;
                }
                img {
                    max-width: 100%;
                    transition: all 0.3s ease;
                    &:hover,
                    &:active {
                        border: 2px solid #2E9100;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .store-heading {
        margin-bottom: 10px;
        h1 {
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            color: #0c0d36;
            margin-bottom: 0px;
        }
        .owner {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #979797;
            margin-bottom: 8px;
        }
        .price {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #2E9100;
            margin-bottom: 10px;
        }
    }
    .store-description {
        font-weight: normal;
        font-size: 16px;
        line-height: 180%;
        color: #525252;
    }
    .store-review {
        .media {
            margin-bottom: 10px;
            img {
                max-width: 50px;
            }
        }
        .media-body {
            font-weight: normal;
            font-size: 16px;
            line-height: 180%;
            color: #525252;
            h5 {
                font-weight: 500;
                font-size: 16px;
                color: #2E9100;
            }
        }
    }
}