.navbar-brand {
    width: 100px;
    img {
        width: 100%;
    }
}

.page-home {
    .carousel {
        height: 20vh;
        overflow: hidden;
        border-radius: 10px;
        background: #000;
        @include media-breakpoint-up(md) {
            height: 50vh;
            overflow: hidden;
            border-radius: 10px;
        }
    }
    h5 {
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1.2em;
        @include media-breakpoint-up(md) {
            font-weight: 600;
            margin-top: 15px;
            margin-bottom: 25px;
            &:before {
                content: "";
                width: 150px;
                height: 10%;
                background: #2E9100;
                position: absolute;
                margin-top: 30px;
                border-radius: 10px;
            }
        }
    }
    h5::after .store-trend-categories {
        margin-top: 30px;
    }
    .store-new-product {
        margin-top: 30px;
    }
    .link-show-more {
        font-size: 16px;
        margin-top: 30px;
        font-weight: 500;
        color: #2E9100;
    }
}

.informasi-footer {
    margin-top: 0px;
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 30px;
    .title-footer {
        font-size: 18px;
        font-weight: 700;
    }
    .menu-footer {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        a {
            margin-top: 10px;
            color: #000;
        }
    }
    .logo-footer {
        width: 100%;
        // background-color: #2E9100;
        padding: 20px;
    }
    .image_footer {
        max-width: 80%;
        height: auto;
        object-fit: contain;
        object-position: center;
    }
}